{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{blogpost.title}}
{% endblock title %}
{% block BlogPostDetail %}
<p class="lead"><a href="{% url 'BlogPost List' %}">&laquo; All Blogs Of Our Class</a> </p>
<div class="jumbotron">
    <div class = 'container'>
<a href = "{% url 'Update BlogPost' slug=blogpost.slug %}" role = 'button' class = 'btn btn-primary'>Update</a>

    <div class = 'row'>
        <div class=" col-sm-offset-2 col-sm-8">

            <div class = 'blogpost-title'>
                <h1>{{blogpost.title}}</h1>
            </div>
            <div class = 'blogpost-author'>
                <p>{{blogpost.author}}</p>
            </div>
            <div class = 'blogpost-image'>
                <img src = {{blogpost.main_image.url}} class = 'img-responsive'>
            </div>

            <div class = 'blogpost-body'>
                <p class = 'lead'>{{blogpost.text}}</p>
            </div>

                {% if request.user.is_authenticated %}

                    <form method = 'POST' action = '' enctype = 'multipart/form-data'>{% csrf_token %}
                        {{form|crispy}}

                    <button type = 'submit' value = 'Submit' class = 'btn btn-primary'>Submit</button>
                            </form>
                    


                    
                    <div class = 'blogpost-comment'>

                        <div class="container">

                            <div class="row">
                                {% for comment in comments  %}

                                <div class="col-sm-5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                        <strong>{{comment.commenter}}</strong> <span class="text-muted">{{comment.created_on}}</span>
                                        </div>
                                        <div class="panel-body">
                                        {{comment.comment_text}}
                                        </div><!-- /panel-body -->
                                    </div><!-- /panel panel-default -->
                                </div><!-- /col-sm-5 -->

                            </div> <!-- row -->
                        {% endfor %}
                        </div><!-- /container -->
                    </div>
                    {% else %}

                    <P>Please Login to Comment</P>
                    {% endif %}



        </div> <!-- outer-column --> 
    </div> <!-- row -->
</div> <!-- container -->
</div>


    
{% endblock BlogPostDetail %}



<!--                             <div class="col-sm-1">
    <div class="thumbnail">
    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>/thumbnail
</div>/col-sm-1 -->